/*---Styles.css
--------------------------*/

/*---Global Style
--------------------------*/

* {
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.wrapper-container{
	background: linear-gradient(to bottom, #2b3d5b 75%,#7c7c7c 75%,#7c7c7c 75%,#7c7c7c 75%);
}


.wrapper-inner {
    height: 700px;
    margin: 0 auto;
}

.sdi-flex-grid {
	display: flex;
	flex-wrap: wrap;
}

.sdi-flex-grid-item {
	height: 200px;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

  .showhide{
  	display: block;
  }