/*---Styles.css
--------------------------*/



/*---Global Style
--------------------------*/

* {
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.wrapper-home {
    height: 700px;
    background: linear-gradient(to bottom, #2b3d5b 75%,#7c7c7c 75%,#7c7c7c 75%,#7c7c7c 75%);
    max-width: 1200px;
    margin: 0 auto;
}

